.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 100%;
  aspect-ratio: 1;
  background-color: white;

  border: solid 1px black;
}

.balloon {
  background-image: url(./balloon.png);
  background-size: cover;
}

.container {
  display: grid;
  width: 40%;
  grid-template-rows: repeat(var(--size), 1fr);
  grid-template-columns: repeat(var(--size), 1fr);
}

.over-background {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.txt-over {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20%;
  height: 20%;
  background-color: white;
  border: solid 7px black;
  border-radius: 5rem;
}