.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  height: 100vh;
}

.App[data-theme='dark'] {
  color: white;
  background-color: #282828;
}

.m-top {
  margin-top: 1rem;
}

/* Toggle custom */
.toggle-box {
  position: absolute;
  top: 2rem;
  right: 4rem;
}
.toggle.react-toggle .react-toggle-track {
  background-color: #8b8b8b;
}
.toggle.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: rgb(100, 100, 100);
}
.toggle.react-toggle--checked .react-toggle-track {
  background-color: #f5df4e;
}
.toggle.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: rgb(189, 163, 47);
}
.toggle.react-toggle--checked .react-toggle-thumb {
  border-color: white;
}
.toggle.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.toggle-ic {
  width: 10px;
}

h1, h3 {
  margin: 0;
}

.box {
  width: 100%;
  aspect-ratio: 1;
  border: solid 1.5px black;
}

[data-theme='dark'] .box {
  border-color: white;
}

.balloon {
  background-image: url(./assets/balloon.png);
  background-size: cover;
}

.container {
  display: grid;
  width: 36%;
  margin-top: 2rem;
  grid-template-rows: repeat(var(--size), 1fr);
  grid-template-columns: repeat(var(--size), 1fr);
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn-circle {
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  background-color: pink;
  cursor: pointer;
}

.btn-circle:active {
  background-color: palevioletred;
}

.txt-bold {
  font-size: 50px;
}

.mg-s {
  margin: 0 1rem;
}

.grey-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.8);
}

.white-bg {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 30%;
  height: 40%;
  background-color: white;
  opacity: 95%;
  border: solid 3px black;
  border-radius: 4rem;
}

[data-theme='dark'] .white-bg {
  color: black;
}

.txt-large {
  font-size: 40px;
}

.btn-round-bg {
  width: 50%;
  background-color: white;
  border-radius: 2rem;
  cursor: pointer;
}

.btn-round-bg:hover {
  background-color: pink;
}