.App {
  text-align: center;
}

.box {
  width: 100%;
  aspect-ratio: 1;
  background-color: white;

  border: solid 1px black;
}

.balloon {
  background-image: url(./balloon.png);
  background-size: cover;
}

.container {
  display: grid;
  width: 40%;
  grid-template-rows: repeat(var(--size), 1fr);
  grid-template-columns: repeat(var(--size), 1fr);
}

table {
  border-spacing: 0;
}